In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# Make a reference to the comic_books_expanded.csv file path
csv_path = "Esophageal Delim.csv"

# Import the comic_books_expanded.csv file as a DataFrame
books_df = pd.read_csv(csv_path, encoding="utf-8")
# Check the special characters imported correctly
books_df

,DATEDX,Age,Education,Sex,Region,Mstatus,Alcohol,Khat,Tobacco,Comorbidity,...,Chemotherapy,Chemo_type,Chemo_cycle,Radiotherapy,Radio_type,Hospital_stay,FU_last,Status_patient,Date_death,Time_to_death
0,12/14/2010,66,3,1,OROMIA,2,2,2,2,0,...,0.0,,,0.0,,1.0,1/17/2011,2.0,4/23/2011,1.0
1,5/15/2010,66,3,2,ADDIS ABABA,2,2,1,2,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2/2/2010,62,1,2,ADDIS ABABA,2,1,1,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3/30/2010,62,1,2,OROMIA,2,1,2,2,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4/15/2010,45,4,1,OROMIA,2,2,2,2,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
344,2/6/2016,55,3,2,OROMIA,2,2,1,2,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
345,2/9/2016,45,2,1,SNNPR,2,2,2,2,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
346,2/10/2016,67,2,2,ADDIS ABABA,2,2,1,2,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
347,3/21/2016,32,2,1,OROMIA,2,2,2,2,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
348,8/1/2016,58,2,2,AMHARA,2,1,1,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# Remove unecessary columns from the DataFrame and save the new DataFrame
# Only keep: "ISBN", "Title", "Other titles", "Name", "All names", 
# "Country of publication", "Place of publication", "Publisher", "Date of publication"
reduced_df = books_df[["DATEDX", "Age", "Sex", "Region", "Alcohol", 
                       "Khat", "Tobacco", "Weight_loss", "Duration_all",
                       "Endoscopy", "CT_Scan", "Hist_grade", "Dist_metas", "Vomiting", "Heart_burn", "Cough",
                       "Chest_pain", "Ba_swallow", "Date_death"]]
reduced_df

,DATEDX,Age,Sex,Region,Alcohol,Khat,Tobacco,Weight_loss,Duration_all,Endoscopy,CT_Scan,Hist_grade,Dist_metas,Vomiting,Heart_burn,Cough,Chest_pain,Ba_swallow,Date_death
0,12/14/2010,66,1,OROMIA,2,2,2,2,3,1,1,1,4,2,2,2,2,1,4/23/2011
1,5/15/2010,66,2,ADDIS ABABA,2,1,2,1,8,1,2,5,4,1,2,2,2,1,NaN
2,2/2/2010,62,2,ADDIS ABABA,1,1,1,2,1,1,1,5,1,2,2,2,2,1,NaN
3,3/30/2010,62,2,OROMIA,1,2,2,1,9,1,2,5,2,2,2,2,2,1,NaN
4,4/15/2010,45,1,OROMIA,2,2,2,2,5,1,1,5,3,1,2,2,2,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
344,2/6/2016,55,2,OROMIA,2,1,2,2,12,1,1,1,3,2,2,2,2,1,NaN
345,2/9/2016,45,1,SNNPR,2,2,2,2,4,1,1,5,4,2,2,2,2,1,NaN
346,2/10/2016,67,2,ADDIS ABABA,2,1,2,2,4,2,1,1,4,2,2,2,2,1,NaN
347,3/21/2016,32,1,OROMIA,2,2,2,2,11,1,1,2,3,2,2,2,2,1,NaN
348,8/1/2016,58,2,AMHARA,1,1,1,2,3,1,1,1,3,2,2,2,2,1,NaN

In [9]:
# Rename the headers to be more explanatory
renamed_df = reduced_df.rename(columns={"DATEDX": "Diagnosis Date",
                                        "Weight_loss": "Weight Loss",
                                        "Duration_all": "Duration",
                                        "CT_Scan": "CT Scan",
                                        "Hist_grade": "Histologic Grade",
                                        "Dist_metas": "Distant Metastasis", 
                                       "Heart_burn": "Heart Burn",
                                       "Chest_pain": "Chest Pain",
                                       "Ba_swallow": "Barium Swallow",
                                       "Date_death": "Date of Death",})
renamed_df

,Diagnosis Date,Age,Sex,Region,Alcohol,Khat,Tobacco,Weight Loss,Duration,Endoscopy,CT Scan,Histologic Grade,Distant Metastasis,Vomiting,Heart Burn,Cough,Chest Pain,Barium Swallow,Date of Death
0,12/14/2010,66,1,OROMIA,2,2,2,2,3,1,1,1,4,2,2,2,2,1,4/23/2011
1,5/15/2010,66,2,ADDIS ABABA,2,1,2,1,8,1,2,5,4,1,2,2,2,1,NaN
2,2/2/2010,62,2,ADDIS ABABA,1,1,1,2,1,1,1,5,1,2,2,2,2,1,NaN
3,3/30/2010,62,2,OROMIA,1,2,2,1,9,1,2,5,2,2,2,2,2,1,NaN
4,4/15/2010,45,1,OROMIA,2,2,2,2,5,1,1,5,3,1,2,2,2,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
344,2/6/2016,55,2,OROMIA,2,1,2,2,12,1,1,1,3,2,2,2,2,1,NaN
345,2/9/2016,45,1,SNNPR,2,2,2,2,4,1,1,5,4,2,2,2,2,1,NaN
346,2/10/2016,67,2,ADDIS ABABA,2,1,2,2,4,2,1,1,4,2,2,2,2,1,NaN
347,3/21/2016,32,1,OROMIA,2,2,2,2,11,1,1,2,3,2,2,2,2,1,NaN
348,8/1/2016,58,2,AMHARA,1,1,1,2,3,1,1,1,3,2,2,2,2,1,NaN